.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.18);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    width: 500px;
    background-color: #fff;
  }
  
  .modal-title {
    padding: 10px
  }
  
  .modal-title {
    margin: 0;
  }
  
  .modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  
  .modal-element {
      padding: 15px;
  }
  
  .inner-text {
      color: #13294B;
  }

  .modal-button {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    right: 50%;
  }

  .modal-button:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(4px, 4px);
  }